@page "/"

 <h1>Rock, Paper, Scissors</h1>

<button>Restart</button>

<div style="display : flex; justify-content:center; margin-bottom: 20px">
     <img src="paper.jpg" class="imagen"/>
</div>

<div style="display : flex; justify-content:space-around; margin-bottom: 20px">
    <img src="paper.jpg" class="imagen imagen-seleccionable" />
    <img src="rock.jpg" class="imagen imagen-seleccionable" />
    <img src="scissors.jpg" class="imagen imagen-seleccionable" />
</div>